{% extends 'notebooks.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <input type="checkbox">
    <h3>Limpieza Completa</h3>
  </div>
  <div class="col-md-6">
    <input type="checkbox">
    <h3>Cambio de pasta termica</h3>
  </div>
</div>

<div class="row" style="text-align: center;">
  <div class="col-md-4">
    <input type="checkbox">
    <h3>Formateo completo</h3>
  </div>
  <div class="col-md-4">
    <input type="checkbox">
    <h3>Remplazo de Componentes</h3>
  </div>
  <div class="col-md-4">
    <input type="checkbox">
    <h3>Cambio de Sistema operativo</h3>
  </div>
</div>
{% endblock %}
